/* Услуби умумии матн */
.fade-in-text {
  font-family: 'Montserrat', sans-serif; /* Ё дигар шрифти муосир */
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #D3C9BF; /* Ранги хом / Бежевый (Raw/Neutral) */
  opacity: 0; /* Дар аввал аён нест */
  animation: fadeInSmooth 2.5s ease-in-out forwards; /* Пайдошавии ором */
}

/* Эффекти пайдошавии ором */
@keyframes fadeInSmooth {
  0% {
    opacity: 0;
    transform: translateY(10px); /* Чанде аз поён ба боло мебарояд */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
